<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <section class="FORM-EMPLOYEES">
          <h2>Filters</h2>
          <form [formGroup]="EMPLOYEESForm"  (ngSubmit)="FILLTER_EMPLOYEES(EMPLOYEESForm.value,EMPLOYEESForm.status)">
            <div class="mb-3 mt-3">
              <label  class="form-label">Name</label>
              <input type="text" formControlName="name" class="form-control" placeholder="Name">
              <small *ngIf="EMPLOYEESForm.controls['name'].touched &&
                 EMPLOYEESForm.controls['name'].errors" class="form-text  text-danger">this field is required
                </small>
            </div>
            <div class="mb-3 mt-3">
              <label  class="form-label">Joining Date</label>
              <input type="date" formControlName="Date" class="form-control" >
              <small *ngIf="EMPLOYEESForm.controls['Date'].touched &&
                 EMPLOYEESForm.controls['Date'].errors" class="form-text  text-danger">this field is required
              </small>
            </div>

            <div class="mb-3 mt-3">
              <label  class="form-label">Department</label>
              <br>
              <select formControlName="department" >
                <option value=""></option>
                <option value="back end">back end</option>
                <option value="front end">front end</option>
                <option value="UI-UX">ui-ux</option>
                <option value="mobile application">mobile application</option>
              </select>
              <small *ngIf="EMPLOYEESForm.controls['department'].touched &&
                 EMPLOYEESForm.controls['department'].errors" class="form-text  text-danger">this field is required
              </small>
            </div>
            <div class="mb-3 mt-3">
              <label  class="form-label">Salary</label>
              <input type="number" formControlName="salary" class="form-control" >
              <small *ngIf="EMPLOYEESForm.controls['salary'].touched &&
                 EMPLOYEESForm.controls['salary'].errors" class="form-text  text-danger">this field is required
              </small>
            </div>
            <div class="mb-3 mt-3">
              <label  class="form-label">Experience</label>
              <br>
              <select formControlName="experience" >
                <option value=""></option>
                <option value="less than a year">Less than a year</option>
                <option value="from 1-3 years">From 1-3 years</option>
                <option value="3 years or above">3 years or above</option>
              </select>
              <small *ngIf="EMPLOYEESForm.controls['experience'].touched &&
                 EMPLOYEESForm.controls['experience'].errors" class="form-text  text-danger">this field is required
              </small>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf=" errormas != null">
              <strong>{{errormas}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="button-form">
              <button type="reset" class="btn btn-primary">Clear ALL</button>
              <button type="submit" class="btn btn-primary">Filter</button>

            </div>
          </form>
        </section>
      </div>

      <div class="col-lg-8">
        <section id="child-row">
          <div class="row">
            <div class="col-12">
              <div class="card" *ngIf="_EMPLOYEES == null  || _EMPLOYEES.length ===0  ">
                <div class="card-header">
                  <h4 class="card-title">Employees</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <p class="card-text">  Employees
                    </p>
                    <table class="table table-striped table-bordered show-child-rows">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Join Date</th>
                          <th>Department</th>
                          <th>Salary</th>
                          <th>Experience</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of EMPLOYEES ">
                          <td>{{item['id']}}</td>
                          <td>{{item['name']}}</td>
                          <td>{{item['Join_Date']}}</td>
                          <td>{{item['Department']}}</td>
                          <td>{{item['Salary']}}</td>
                          <td>{{item['Experience']}}</td>
                        </tr>


                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Join Date</th>
                          <th>Department</th>
                          <th>Salary</th>
                          <th>Experience</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <div class="card" *ngIf="_EMPLOYEES.length > 0">
                <div class="card-header">
                  <h4 class="card-title">Employees</h4>
                  <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                      <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                      <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                      <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="card-content collapse show">
                  <div class="card-body">
                    <p class="card-text">  Employees
                    </p>
                    <table class="table table-striped table-bordered show-child-rows">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Join Date</th>
                          <th>Department</th>
                          <th>Salary</th>
                          <th>Experience</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of _EMPLOYEES ">
                          <td>{{item['id']}}</td>
                          <td>{{item['name']}}</td>
                          <td>{{item['Join_Date']}}</td>
                          <td>{{item['Department']}}</td>
                          <td>{{item['Salary']}}</td>
                          <td>{{item['Experience']}}</td>
                        </tr>


                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Join Date</th>
                          <th>Department</th>
                          <th>Salary</th>
                          <th>Experience</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
